Models/Car_Detector.pt
yolo_car_detector.pt
Models/yolov8x.pt
Validation/data
Training/data
Training/data2
Training/output_images
Training/raw
Training/runs
Training/yolo11n.pt
Training/yolov8s.pt
Validation/data
Validation/data2
.venv
.idea/
.idea/